*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
}

body{
    background-color: rgb(229, 229, 229);
}

.container{
    background-color: rgb(2, 48, 71);
    width: 80%;
    display: flex;
    position: fixed;
    margin: 5px 150px;
    border-radius: 10px;
    border: 2px solid;
}
.logo{
    width: 100%;
    font-size: 50px;
    padding: 20px 25px;
    color: white;
}

.navbar-nav{
    list-style-type: none;
    display: flex;
    float: right;
}

.navbar-nav li{
    
    margin-right: 20px;
}

.navbar-nav li a{
    color: white;
    display: flex;
    text-decoration: none;
    padding: 40px 10px;
    transition: background-color 0.3s ease;
}
.navbar-nav li a:hover{
    background-color: rgb(33, 158, 188);
}

.porfil{
    font-size: 12px;

    padding: 120px 150px 0px 150px;
}

.main-welcome{
    background-color: rgb(142, 202, 230);
    border: 0.5px solid;
    border-radius: 5px;
    position: relative;
}

.text-profil{
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 9px;
}

.main-welcome .about{
    float: right;
    position: absolute;
    top: 20px;
    left: 80%;
}

.main-welcome .about .btn-about{
    color: black;
    padding: 0px 10px;
    display: none;
}
